*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
	color: #252a34;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Playfair Display', sans-serif;
}

.container {
	display: grid;
	grid-template-rows: 12vh min-content 12vh min-content 20vw 10rem;
	grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 15rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];
}

.main-nav {
	background-color: #eaeaea;
	grid-column: full-start / full-end;

	display: flex;
	justify-content: center;
	align-items: center;
}

.main-nav__list-item {
	display: inline-block;
	margin: 1rem 2rem;
}

.main-nav__link:link,
.main-nav__link:visited {
	font-size: 1.8rem;
	text-transform: uppercase;
	letter-spacing: 2px;
	text-decoration: none;
	color: #252a34;
	padding: 1rem;
	transition: color .2s;
}

.main-nav__link:hover {
	color: #08d9d6;
}

.about__text-box {
	grid-column: full-start / col-end 4;

	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0 8rem;
}

.about__text {
	line-height: 1.8;
	text-align: right;
}

.about__img-box {
	grid-column: col-start 5 / full-end;
	display: flex;
	justify-content: flex-end;
}

.about__heading {
	font-size: 6rem;
	/*text-transform: uppercase;*/
	font-weight: 300;
	letter-spacing: 5px;
}

.about__description {
	font-size: 1.8rem;
}

.about__description span {
	color: #08d9d6;
	font-weight: 700;
	font-size: 2rem;
}

.about__img {
	max-width: 100%;
	max-height: 50rem;
	object-fit: cover;
}

.portfolio__nav {
	background-color: #08d9d6;
	grid-column: full-start / full-end;
}

.portfolio {
	background-color: pink;
	grid-column: center-start / center-end;
}

.contact {
	background-color: #ff2e63;
	grid-column: center-start / center-end;
}

.footer {
	background-color: #eaeaea;
	grid-column: full-start / full-end;

	display: flex;
	justify-content: center;
	align-items: center;
}

.footer__copyright {
	font-size: 1.2rem;
	text-transform: uppercase;
	letter-spacing: 2px;
}

.btn {
	text-decoration: none;
	text-transform: uppercase;
	font-size: 1.5rem;
	border-radius: 6rem;
	padding: 2rem 3rem;
	display: inline-block;
}

.about__btn {
	border: 3px solid rgba(255,255,255,.6);
	border: 2px solid white;
	background-color: rgba(8,217,214,.5);
	color: #fff;
}

/*-------------------------------------------
Utility Classes
-------------------------------------------*/
.u-mb-xlg { margin-bottom: 8rem !important; }
.u-mb-lg { margin-bottom: 5rem !important; }
.u-mb-md { margin-bottom: 3rem !important; }
.u-mb-sm { margin-bottom: 1rem !important; }

.u-mt-sm { margin-top: 1rem !important; }
.u-mt-md { margin-top: 3rem !important; }
.u-mt-lg { margin-top: 5rem !important; }
.u-mt-xlg { margin-top: 8rem !important; }