/*-------------------------------------------
Global Styling
-------------------------------------------*/

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
	color: #252a34;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Playfair Display', sans-serif;
	font-weight: 300;
}

/*-------------------------------------------
Grid Container
-------------------------------------------*/

.container {
	display: grid;
	grid-template-rows: 10vh min-content 10vh min-content 20vw 10rem;
	grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 15rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];
}

/*-------------------------------------------
Main Navigation Bar
-------------------------------------------*/

.main-nav {
	background-color: #08d9d6;
	grid-column: full-start / full-end;

	display: flex;
	justify-content: center;
	align-items: center;
}

.main-nav__list-item {
	display: inline-block;
	margin: 1rem 2rem;
}

.main-nav__link:link,
.main-nav__link:visited {
	font-size: 1.8rem;
	text-transform: uppercase;
	letter-spacing: 2px;
	text-decoration: none;
	color: #fff;
	padding: 1rem;
	transition: color .2s;
}

.main-nav__link:hover {
	color: #252a34;
}

/*-------------------------------------------
About Header
-------------------------------------------*/

.about__text-box {
	grid-column: full-start / col-end 5;

	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding: 0 15rem;
}

.about__text {
	line-height: 1.8;
	text-align: right;
}

.about__description {
	font-size: 1.8rem;
}

.about__description span {
	color: #08d9d6;
	font-weight: 700;
	font-size: 2rem;
}

.about__img-box {
	grid-column: col-start 6 / full-end;
	display: flex;
}

.about__img {
	width: 100%;
	max-height: 50rem;
	object-fit: cover;
}

/*-------------------------------------------
Portfolio Navigation
-------------------------------------------*/
.portfolio__nav {
	background-color: #eaeaea;
	grid-column: full-start / full-end;

	display: flex;
	justify-content: center;
	align-items: center;
}

.portfolio__nav ul {
	padding: 2rem;
}

.portfolio__nav li {
	display: inline-block;
	padding: 1.2rem 2.5rem;
	font-size: 1.4rem;
	color: #252a34;
	font-weight: 400;
	cursor: pointer;
  	text-transform: uppercase;
  	letter-spacing: 3px;
}

.portfolio__nav li.active {
	color: #252a34;
	border: 1px solid #252a34;
	border-radius: 1.5rem;
}

/*-------------------------------------------
Portfolio Content
-------------------------------------------*/
.portfolio__content {
	/*background-color: pink;*/
	grid-column: center-start / center-end;
	padding: 10rem 0;
	box-sizing: content-box;
}

.grid-item {
	width: 23%;
	margin: 1%;
	position: relative;
}

.grid__text {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: #fff;
	font-size: 1.8rem;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 3px;
}

.grid-item img {
	width: 100%;
	transition: filter .4s;
}

.grid-item:hover img {
    filter: brightness(.7);
}

/*-------------------------------------------
Contact Info
-------------------------------------------*/
.contact {
	background-color: #ff2e63;
	background-color: #eaeaea;
	grid-column: full-start / full-end;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.contact__description {
	font-size: 1.6rem;
	line-height: 1.8;
}

.contact__link:link,
.contact__link:visited {
	text-decoration: none;
	color: #08d9d6;
}

/*-------------------------------------------
Footer Copyright
-------------------------------------------*/

.footer {
	background-color: #08d9d6;
	grid-column: full-start / full-end;

	display: flex;
	justify-content: center;
	align-items: center;
}

.footer__copyright {
	font-size: 1.2rem;
	text-transform: uppercase;
	letter-spacing: 2px;
	color: #fff;
}

/*-------------------------------------------
Buttons
-------------------------------------------*/
.btn {
	text-decoration: none;
	text-transform: uppercase;
	font-size: 1.5rem;
	border-radius: 6rem;
	padding: 2rem 3rem;
	display: inline-block;
}

.about__btn {
	border: 3px solid rgba(255,255,255,.6);
	border: 2px solid #fff;
	background-color: rgba(8,217,214,.5);
	color: #fff;
}

/*-------------------------------------------
Headings
-------------------------------------------*/
.heading--primary {
	font-size: 6rem;
	letter-spacing: 5px;
}

.heading--secondary {
	font-size: 4rem;
	letter-spacing: 3px;
}

/*-------------------------------------------
Utility Classes
-------------------------------------------*/
.u-mb-xlg { margin-bottom: 8rem !important; }
.u-mb-lg { margin-bottom: 5rem !important; }
.u-mb-md { margin-bottom: 3rem !important; }
.u-mb-sm { margin-bottom: 1rem !important; }

.u-mt-sm { margin-top: 1rem !important; }
.u-mt-md { margin-top: 3rem !important; }
.u-mt-lg { margin-top: 5rem !important; }
.u-mt-xlg { margin-top: 8rem !important; }